.card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.5fr 1.5fr 1fr 1fr;
  align-items: center;

  width: 400px;
  padding: 10px;

  background-color: #3e3f49;

  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);

  cursor: pointer;
  transition: all 0.3s;
  animation: fadeIn 1s backwards;
}

.card:hover {
  transform: translateY(-3px);

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
