.overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.modal-window {
  height: min(300px, 80%);
  width: min(700px, 80%);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.151);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
